.container {
  width: 200px;
  height: 500px;
  text-align: center;
  color: white;
  font-size: 18px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 10px;
}

.drag {
  width: 30px;
  height: 30px;
  margin: 5px;
  position: absolute;
  border-radius: 5px;
  border: 2px solid rgb(181, 105, 19);
}

.red1 {
  background-color: rgb(228, 84, 84);
}

.blue1 {
  background-color: rgb(87, 73, 236);;
}

.green1 {
  background-color: rgb(75, 210, 91);;
}

.red {
  background-color: rgb(233, 33, 33);
}

.blue {
  background-color: rgb(50, 33, 233);;
}

.green {
  background-color: rgb(17, 212, 40);;
}

main {
  display: flex;
  justify-content: space-around;
}

.box {
  display: flex;
}

#generate {
  height: 20px;
}