* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #212121;
  color: #ffffff;
  font-family: sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.box {
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}

#artistName {
  margin-top: 15px;
  margin-bottom: 10px;
  padding: 15px;
  width: 250px;
  height: 40px;
  background-color: #2a2a2a;
  color: #ffffff;
  font-size: large;
  border: 1px solid #ffffff;
  border-radius: 25px;
}

#bgetArtist {
  margin-left: 5px;
  padding: 10px;
  height: 38px;
  background-color: #1ed760;
  font-size: large;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#results {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#results h1 {
  margin-top: 5px;
  margin-bottom: 5px;
}

.card {
  margin: 10px;
  padding: 10px;
  width: 330px;
  background-color: #191919;
  text-align: center;
  border: 1px solid #1ed760;
  border-radius: 10px;
}

.card img {
  margin-top: 10px;
  width: 300px;
  border-radius: 10px;
}
