<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Numbers</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  </head>
  <body>
    <div id="app">
      <h3>Enter an integer</h3>
      <input v-model="num" type="number" />
      <input type="button" value="Send" @click="send()" />

      <p v-if="error">
        <small>{{ error }}</small>
      </p>

      <!-- <number nombre="5"></number> -->
      <Number
        v-for="n in numbers"
        :nombre="n"
        :key="n"
        v-on:clicked-number="numberSelected"
      ></Number>
    </div>
  </body>
  <script type="module">
    import Number from "./Number.js";

    const { createApp } = Vue;
    const app = createApp({
      data: function () {
        return {
          num: null,
          numbers: [],
          error: "",
        };
      },
      components: {
        Number
      },
      methods: {
        send: function () {
          // Delete decimals and checks if the same as the inserted value
          // If an string is inserted, returns 0
          if (~~this.num === this.num) {
            // Check if the number already exist in the list
            if (this.numbers.indexOf(this.num) < 0) {
              this.numbers.push(this.num);
              this.num = null;
            } else {
              this.error = "The number already exists";
            }
          } else {
            this.error = "You need to enter a correct value";
          }
        },
        numberSelected: function () {},
      },
    }).mount("#app");
  </script>
  <style>
    #app {
      text-align: center;
    }
    small {
      color: red;
    }
  </style>
</html>
