* {
    padding: 0;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#bottom_header {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#top_header {
    display: flex;
    justify-content: center;
}

.logo {
    width: 100px;
}

.menu-element {
    list-style-type: none;
    display: inline;
    margin: 5px;
}

.menu-element a {
    text-decoration: none;
    color: black;
}

.menu-element a:hover {
    text-decoration: underline;
    color: orange;
}

#search {
    margin: 5px 0;
}

.list-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-group strong {
    margin: 5px;
}

.menu2-element {
    list-style-type: none;
    margin: 5px;
    text-align: center;
}

.list-group a {
    color: black;
    text-decoration: none;
}

.list-group a:hover {
    color: black;
    text-decoration: none;
    text-decoration: underline;
    color: orange;
}

#products-filter {
    padding: 20px;
    box-sizing: border-box;
    background-color: lightgray;
    position: sticky;
    top: 0;
}

#product-listing li {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.item-details {
    display: flex;
    flex-direction: column;
}

.image-container img {
    width: 100%;
}

.product-name {
    font-weight: bold;
}

#load-more-products {
    display: flex;
    justify-content: center;
}

#back-to-top {
    position: fixed;
    top: 95%;
    left: 85%;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: lightgray;
}

.footer li {
    list-style-type: none;
}

@media (min-width: 800px) {
    .menu-element {
        margin: 20px;
    }

    #bottom_header {
        min-width: 100%;
        display: grid;
        grid-template-columns: 17% 17% 32% 17% 17%;
        margin: 8px 0;
    }

    #bottom_header div {
        grid-column-start: 5;
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    #bottom_header ul {
        grid-column-start: 3;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    main div {
        display: flex;
    }

    main aside {
        width: 15%;
    }

    main section {
        width: 85%;
    }

    .list-group {
        flex-direction: column;
        align-items: flex-start;
        margin: 0 40px;
        margin-bottom: 10px;
    }

    .list-group strong {
        margin-top: 10px;
    }

    .menu2-element {
        text-align: left;
        margin: 8px 20px;
    }

    #product-listing li {
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        flex-wrap: wrap;
    }

    .image-container {
        margin-right: 2px;
    }

    .image-container img {
        width: 442px;
    }

    #back-to-top {
        top: 95%;
        left: 95%;
    }
}