/* css for all html */
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #E9F1F7;
}
.header {
  overflow: hidden;
  padding: 20px 10px;
  background-color: #E7DFC6;
}
.header a {
  float: left;
  color: #000000;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}
.header a:hover {
  background-color: #ddd;
  color: #000000;
}
.header a.active {
  background-color: #2274A5;
  color: #ffffff;
}
.header a.active:hover {
  background-color: #ffffff;
  color: #2274A5;
}
.header-right {
  float: right;
}
footer {
  margin-top: auto;
  background-color: #E7DFC6;
}
/* css for the register html */
.backImg {
  background-image: url(../img/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.form {
  background-color: #2274A5;
  width: 40%;
}
.form label {
  color: #ffffff;
}
.form label a {
  color: #ffffff;
}
.radio {
  opacity: 0.6;
  border-radius: 50%;
  border: 1px solid;
}
[type=radio] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
[type=radio] + img {
  cursor: pointer;
}
[type=radio]:hover + img {
  opacity: 1;
}
[type=radio]:checked + img {
  opacity: 1;
}
/* css for the index html */
.myImage,
.myImage img {
  float: left;
}
.cont1 {
  margin-right: 0%;
  width: 62%;
  float: left;
}
.cont1 a {
  color: #000000;
  text-decoration: none;
}
.cont2 {
  margin-left: 0%;
  width: 30%;
  float: right;
  text-align: center;
}
.cont2 a {
  color: #000000;
  text-decoration: none;
}
/* css for the post html */
.link {
  color: #000000;
  text-decoration: none;
}
.link:hover {
  color: #000000;
  text-decoration: none;
}
.userPicture {
  border-radius: 50%;
}
.blue {
  background-color: #2274A5;
}
